body{
  background-color:#f7f7f7
}
header{
  background-color:#3b5998;
  padding:40px;
  color:white;
  font-size:60px;
}
section{
  background-color:	#dfe3ee;
  width:18%;
  border:2px solid black;
  box-sizing:border-box;
  float:left;
  margin:20px 1% 100px 1%;
}
h3{
  background-color:#8b9dc3;
  font-size:24px;
  border-bottom: 2px solid black;
}
ol,ul{
  padding-left:20px;
}
li{
  list-style:circle;
}
footer{
  clear:both;
  Background-color:#8b9dc3;
}
.Layout_1{
  width:98%;
  margin:1%;
  box-sizing:border-box;
  padding:10px;    
  clear:both;
  
}
.Layout_2{
  width:48%;
  margin:1%;
  box-sizing:border-box;
  padding:10px; 
  float:left;
}
.Layout_3{
  width:31%;
  margin:1%;
  box-sizing:border-box;
  padding:10px; 
  float:left;
}
.Layout_4{
  width:23%;
  margin:1%;
  box-sizing:border-box;
  padding:10px; 
  float:left;
}
.Layout_5{
  width:14%;
  margin:1%;
  box-sizing:border-box;
  padding:10px; 
  float:left;
}